<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Tester!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Anagram Tester!</h1>
            <ol>
                <li>Enter a word.</li>
                <li>Enter a list of other words.</li>
                <li>We'll test each word in your list against your first word
                to see if they're anagrams!</li>
            </ol>
            <div class='row'>
                <form action='words' method='post'>
                    <div class='form-group'>
                        <label for='main_word'>Main word to check:</label>
                        <input id='main_word' name='main_word' class='form-control' type='text'>
                    </div>
                    <div class='form-group'>
                        <label for='list_word_1'>List word 1:</label>
                        <input id='list_word_1' name='list_word_1' class='form-control' type='text'>
                    </div>
                    <div class='form-group'>
                        <label for='list_word_2'>List word 2:</label>
                        <input id='list_word_2' name='list_word_2' class='form-control' type='text'>
                    </div>
                    <div class='form-group'>
                        <label for='list_word_3'>List word 3:</label>
                        <input id='list_word_3' name='list_word_3' class='form-control' type='text'>
                    </div>
                    <div class='form-group'>
                        <label for='list_word_4'>List word 4:</label>
                        <input id='list_word_4' name='list_word_4' class='form-control' type='text'>
                    </div>
                    <button type='submit' class='btn-success'>Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
