<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Tester!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Anagram Tester!</h1>
            <ol>
                <li>Enter a word.</li>
                <li>Enter a list of other words, separated by spaces.</li>
                <li>We'll test each word in your list against your first word
                to see if they're anagrams!</li>
            </ol>
            <div class='row'>
                <form action='words' method='post'>
                    <div class='form-group'>
                        <label for='main_word'>Main word to check:</label>
                        <input id='main_word' name='main_word' class='form-control' type='text'>
                    </div>
                    <div class='form-group'>
                        <label for='list_word'>List word 1:</label>
                        <input id='list_word' name='list_word' class='form-control' type='text'>
                    </div>

                    <button type='submit' class='btn-success'>Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
