<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Tester!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Results!</h1>
            <div class='row'>
                {% set tick = 0 %}
                {% for item in result %}
                 {% if item == 'anagram'  %}
                 <p>{{ user_words[tick] }} is an anagram!</p>
                 {% elseif item == 'partial' %}
                 <p>{{ user_words[tick] }} is a partial match!</p>
                 {% else %}
                 <p>{{ user_words[tick] }} is NOT a match. =(</p>
                 {% endif %}
                 {% set tick = tick + 1 %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>
